body{
    background-image: url(images/life.png);
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
}

.talk{
    border: rgb(199, 150, 52) solid 3px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(2, 0, 0);
    font-size: 20px;

}
.talk h2{
    font-weight:700 ;
    color:darkkhaki;
}
.myself{
    border: rgb(199, 150, 52) solid 3px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(2, 0, 0);
    font-size: 20px;
}
.myself h2{
    font-weight:700 ;
    color:darkkhaki;
}
.myself a{
    color: black;
    text-decoration: none;
    border: #FA4083 solid 2px;
    border-radius: 60px 400px 400px 60px;
    padding: 10px;
    margin-left: 50%;

}
.myself a:hover{
     background-color: crimson;
     transition-duration: 1s;
}
/*Contact sectiom*/

.contact{
    font-family: 'Lobster Two', cursive;
    margin-top: 40px;
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
      color : rgb(207, 205, 205);    
  }
.contact-me{
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

  
.form-line{
    border-right: dotted 5px gray;
    height: 10% ;
  }
  
.form-group{
    margin-top: 10px;
  }
label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
.form-control{
    font-size: 1.3em;
    color: #080808;
  }
textarea.form-control {
      height: 235px;
     /* margin-top: px;*/
  }
  
.submit{
    font-size: 1.1em;
    float: right;
    
    background-color: transparent;
    color: #fff;
  
  }
  


  /* little size */
@media(max-width:1000px){
 
  .talk{
    margin-bottom: 30px;
  }
  .talk h2{
    font-weight:700 ;
    color:rgb(148, 144, 87);
}
  .form-line{
    border-right: none;
    
  }
}